.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form =================  */
.form {
  top: 20%;
  width: 50%;
  height: 520px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 37px;
  position: absolute;
}

/* Logo =================  */
.containerLogo {
  position: relative;
  display: flex;
  justify-content: center;
  top: -20%;
}

.logo {
  width: 200px;
  height: 200px;
}

/* Logo Transitar =================  */
.containerTransitar {
  position: relative;
  display: flex;
  justify-content: center;
  top: -20%;
  width: 100%;
  height: 20px;
}

.transitar {
  width: 100px;
  height: 100px;
}

/* Title =================  */
.containerTitle {
  position: relative;
  display: flex;
  justify-content: center;
  top: -10%;
}

.title {
  font-family: "Averia Sans Libre";
}

/* Inputs =================  */
.containerInput {
  position: relative;
  display: block;
  text-align: center;
  align-items: center;
  top: 20px;
}
.input {
  margin-top: 2%;
  width: 60%;
  height: 50px;
  background: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.13);
  box-sizing: border-box;
  border-radius: 100px;
  font-family: "Roboto";
  padding: 20px;
}

/* Buttons =================  */
.containerBtn {
  position: relative;
  display: flex;
  justify-content: center;
  top: 30px;
}

.btn {
  width: 60%;
  height: 50px;
  background-color: #2d8eff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  border: 0;
  cursor: pointer;
  border-radius: 100px;
  color: #ffffff;
  font-weight: 800;

  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-size: 17px;
  transition: background-color 0.2s;
}
.btn:hover {
  background-color: rgba(45, 142, 255, 0.6);
  color: #f2f2f2;
}

/* Responsive =================  */
@media (max-width: 800px) {
  .form {
    width: 90%;
    height: 500px;
  }
  .input {
    margin-top: 10px;
    width: 85%;
  }
  .btn {
    width: 85%;
  }
}
